/* hover version smallSize not mob 
p {
	position: relative;
	display: inline-block;
	color:rgb(8, 8, 8);
	text-size-adjust: auto;
	text-align: center;	
	cursor:zoom-in;

	}
p a {
	visibility: hidden;
	display:inline-block;
	background-color:rgb(150, 25, 77);
	color: #fcf8f5ee;
	width:max-content;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	align-content: center;
	padding: 3px;
	
	
	position: absolute;
	border-radius: 20%;
	z-index: auto;
	top: -45px;
	right: 35%;
	
	}
p:hover a {
	visibility: visible;
	}
body {
	direction:rtl;
	background-color: hsla(305, 46%, 86%, 0.116);
	line-height:1.5em;
	font-size: 1.5rem;
	font-family: 'Amiri';
	font-size: 22px;
	padding:2px 2px;
	min-height: 50vh;
	text-align: right;
	
	text-align-last: center;
	width: 100%;

	 }		
	

	
body a{
	font-family: 'Times New Roman', Times, serif;		}
body p{
	direction: rtl;

}
p:hover{
color:rgb(150, 25, 77);
}
nm{
color: #d66f0f;
}
header{
	 font-family: 'Times New Roman', Times, serif;
 }
footer{
	 font-family: 'Times New Roman', Times, serif;
	 text-align: center;

 }
a{
	text-decoration: none;
}
h4{
color: brown;
text-align: center;
line-height:2.5em;
font-size: 2 rem;
font-family: 'Amiri';font-size: 22px;
}
*/

/* Print style including Arab and Kurd */

body {
	direction: rtl;
	background: hsla(77, 20%, 93%, 0.933);
	font-size: 1.5rem;
	font-family: 'Amiri';
	padding: 11px 11px;
	text-align: center;
	border: green;
	border-width: 8px;
	border-style: double;
}
body a {
 text-decoration: none;
 font-size: 1.75 vw;
}
p {
	visibility: visible;
	display: inline-block;
	color: rgb(75, 163, 73);
	text-size-adjust: auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

p a {
	visibility: visible;
	display: inline-block;
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	align-content: center;
	padding: 5px;
	font-weight: normal;
}

nm {
	color: #959191;
}

header {
	visibility: hidden;
	font-family: 'Times New Roman', Times, serif;
}

footer {
	visibility: hidden;
}

#mean {
	visibility: hidden;
}
#stand {
	visibility: hidden;
}
/*
return button {
	visibility: hidden;
	color: rgb(255, 255, 255);
	background-color: rgb(11, 122, 35);
	font-size: 15px;
	padding: 5px;
	border-radius: 40%;
} */

return a {
	visibility: hidden;
	color: rgb(255, 255, 255);
	background-color: rgb(165, 42, 42);
	text-decoration: solid;
	font-size: 15px;
	padding: 11px;
	border-radius: 40%;
}
